{% extends 'accounts/base.html'%}
{% block title%}{{assignment.title}}{% endblock %}

{% block meta %}
<meta name="description" content="{{assignment.title}},{{assignment.discription}}" />
<meta name="keywords" content="{{assignment.title}}" />
{% endblock %}

{% block body %}
<section class="white-bg">
    <div class="container">
        <!-- left side -->
        <div class="col-md-8">
            <div class="post mb-20">
            <div class="post-img"> <img class="img-responsive" src="{% if assignment.image %}{{assignment.image.url}}{% endif %}" alt="{{assignment.title}}"/> </div>
            <div class="post-info">
              <h1><a href="{%url 'assignment:assignment' assignment.slug %}" target="_blank">{{assignment.title}}</a></h1>
              <h6>{{assignment.user}}</h6>
              <a target="_blank" href="{%url 'assignment:assignment' assignment.slug %}"><p class="w3-text-blue">{{assignment.discription|truncatewords_html:10}}</p></a>
              <p>{{assignment.submitted}}</p>
              <a class="readmore" href="{%url 'assignment:assignment' assignment.slug %}" target="_blank"><span>Solve <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
            </div>
        </div>
    		<!--=== Left Side End===-->
        <div class="col-md-4">
            {% if request.user == assignment.user %}
            <ul>
                <li><a href="{% url 'assignment:my_assignment_update' assignment.id %}">Edit</a></li>
                <li><a href="{% url 'assignment:my_assignment_delete' assignment.id %}">Delete</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}