{% extends 'accounts/base.html'%}
<!--=== Header End ===-->
{% block title%}Index{% endblock %}
<!--==costume styling starts==-->
{% block style %}
{% endblock %}
<!--==costume styling ends==-->
{% block body %}
   <section class="white-bg">
    <div class="container">
     <div class="row">
     	<div class="col-md-12">
     		<div id="chaos-gallery-filter" class="cbp-l-filters-alignCenter default-filter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
            {% for intrest in intrests %}
            <div data-filter=".{{intrest}}" class="cbp-filter-item">{{intrest}}<a href="{% url 'assignment:delete_interest' intrest.id %}" class="w3-badge w3-margin-left w3-pink w3-hover-black">x</a></div>
            {% endfor %}
            <div  class="cbp-filter-item"><a href="{% url 'assignment:add_interest' %}"> + add interests</a> </div>
            </div>
     	  </div>
         </div>
        <div class="row mt-50">
            <div id="chaos-gallery" class="cbp gallery-style-two">
                {% for username,list_assignment in dictionary2.items %}

                    {% for assignment in list_assignment %}
                    <!--=== Post starts ===-->
                    <div class="cbp-item col-md-4 col-sm-6 {{username}}">
                        <div class="post mb-20">
                        <div class="post-img" style = "max-height: 220px;" > <img class="img-responsive" src="https://az616578.vo.msecnd.net/files/2016/12/30/636186644641673630-1672572549_act%202.jpg" alt=""/> </div>
                        <div class="post-info">
                          <h3><a href="{% url 'assignment:assignment' assignment.id %}">{{assignment}}</a></h3>
                          <h6 class="pink-color">{{username}}</h6>
                          <p>{{assignment.created}}</p>
                          <a class="readmore" href="blog-default.html#"><span>{{assignment.user}}</span></a> </div>
                        </div>
                      </div>
                      <!--=== Post End ===-->
                      {% endfor %}

                  {% endfor %}
            </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block script %}
{% endblock %}