<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title%}Assignmate{% endblock %}</title>
<meta name="description" content="Onepage Parallax HTML5 Template" />
<meta name="keywords" content="design lab, chaos, business, user interface" />
{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'accounts/assets/images/favicon.ico' %} ">
<link rel="stylesheet" href="{% static 'accounts/assets/css/master.css' %}">
<link rel="stylesheet" href="{% static 'accounts/assets/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'accounts/assets/css/w3.css' %}">
 <!--==costume styling starts==-->
{% block style %}
{% endblock %}
<!--==costume styling ends==-->
</head>
<body>

<!--=== Loader Start ======-->
<div id="loader-overlay">
  <div class="loader">
    <div class="loader-inner"></div>
  </div>
</div>
<!--=== Loader End ======-->

<!--=== Wrapper Start ===-->
<div class="wrapper">
  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
  	<!--=== Start Top Search ===-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="home-design-lab.html#" class="fullscreen-close" id="fullscreen-close-button"><i class="mdi mdi-close"></i></a>
      <div id="fullscreen-search-wrapper">
        <form action="{% url 'assignment:search' %}" method="get" accept-charset="utf-8" id="fullscreen-searchform">
          <input type="text" name="q"  placeholder="Search..." id="fullscreen-search-input" class="search-bar-top">
          <i class="fullscreen-search-icon mdi mdi-magnify">
          <button type="submit"><i class="fa fa-search"></i></button>
          </i>
        </form>
      </div>
    </div>
    <!--=== End Top Search ===-->

    <div class="container">
      <!--=== Start Atribute Navigation ===-->
      <div class="attr-nav">
        <ul>
        	<li class="search"><a href="home-design-lab.html#" id="search-button"><i class="mdi mdi-magnify"></i></a></li>
        	<li class="side-menu"><a href="home-design-lab.html#"><i class="mdi mdi-menu"></i></a></li>
        </ul>
      </div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="mdi mdi-menu"></i> </button>
        <div class="logo logo-sm"> <a href="home-design-lab.html"> <img class="logo logo-display" src="{% static 'accounts/assets/images/logo-white-sm.png' %}" alt=""> <img class="logo logo-scrolled" src="{% static 'accounts/assets/images/logo-black-sm.png' %}" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
            <li><a href="{% url 'assignment:home' %}">Home</a></li>
            <li><a href="{% url 'accounts:view_profile' %}">About Us</a></li>
          <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Assignment</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'assignment:index' %}">Assignments</a></li>
              <li><a href="{% url 'assignment:assignment_page' %}">all Assignments</a></li>
              <li><a href="{% url 'assignment:my_assignment_page' %}">My Assignments</a></li>
              <li><a href="{% url 'assignment:filter' %}">Filter Assignment</a></li>
              <li><a href="{% url 'assignment:result' %}">My result</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Booklet</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'assignment:index_booklet' %}">Booklet</a></li>
              <li><a href="{% url 'assignment:booklet' %}">All Booklet</a></li>
              <li><a href="{% url 'assignment:my-booklet' %}">My Booklet</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="{% url 'assignment:blog_site_list' %}" class="dropdown-toggle" data-toggle="dropdown">Blogs</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Blog Default</a></li>
              <li><a href="javascript:void(0)">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="{% url 'home:notifications' %}">Notifications</a></li>
          <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">User</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'accounts:view_profile' %}">profile</a></li>
              <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
              <li><a href="{% url 'accounts:change_password' %}">ChangePassword</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
    <!-- Start Side Menu -->
    <div class="side">
            <a href="home-design-lab.html#" class="close-side"><i class="mdi mdi-close"></i></a>
            <div class="widget">
                <h6 class="title">Custom Pages</h6>
                <ul class="link">
                    <li><a href="{% url 'accounts:view_profile' %}">About</a></li>
                    <li><a href="javascript:void(0)">Services</a></li>
                    <li><a href="{% url 'assignment:blog_site_list' %}">Blog</a></li>
                    <li><a href="javascript:void(0)">Our Work</a></li>
                    <li><a href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>
            <div class="widget">
                <h6 class="title">Home Page Variations</h6>
                <ul class="link">
                    <li><a href="javascript:void(0)">Home Creative Default</a></li>
					<li><a href="javascript:void(0)">Home Startup</a></li>
					<li><a href="javascript:void(0)">Home Design Lab</a></li>
					<li><a href="javascript:void(0)">Home Onepage</a></li>
                </ul>
            </div>
     </div>
     <!-- End Side Menu -->
  </nav>
  <!--=== Header End ===-->
      <!-- Banner Section Begins -->
      {% block banner %}
      <section class="title-hero-bg parallax-effect" style="background-image: url({% static 'accounts/assets/images/background/title-bg-01.jpg' %});">
          <div class="parallax-overlay"></div>
            <div class="container">
              <div class="page-title text-center white-color">
                <h1>About Us</h1>
                <h4 class="text-uppercase mt-30">CREATIVE DIGITAL AGENCY SINCE 2004</h4>
              </div>
            </div>
          </section>
      {% endblock banner %}
      <!-- Banner Section Ends -->

    <!--rest of the body starts-->
        {% block body%}

        {%endblock%}
    <!--rest of the body starts-->


<!--=== Footer Start ===-->
  <footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-links">
              <h5 class="widget-title">About Us</h5>
              <div class="footer-about">
              	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at purus varius odio tempus cursus. vitae, commodo dui. </p>
              	<ul class="social-media">
				  <li><a href="home-design-lab.html#" class="mdi mdi-facebook"></a></li>
				  <li><a href="home-design-lab.html#" class="mdi mdi-twitter"></a></li>
				  <li><a href="home-design-lab.html#" class="mdi mdi-pinterest"></a></li>
				  <li><a href="home-design-lab.html#" class="mdi mdi-dribbble"></a></li>
				</ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Quick Links</h5>
              <ul>
                <li><a href="home-design-lab.html#">About Us</a></li>
                <li><a href="home-design-lab.html#">Services</a></li>
                <li><a href="home-design-lab.html#">Portfolio</a></li>
                <li><a href="home-design-lab.html#">Blogs</a></li>
                <li><a href="home-design-lab.html#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-links">
              <h5 class="widget-title">Recent Post</h5>
              <div class="row post-sm-content">
              	<div class="col-md-3 col-sm-3 col-xs-3"><img class="img-overlay img-circle" src="{% static 'accounts/assets/images/post/post-img-sm.jpg' %}" alt=""/></div>
              	<div class="col-md-9 col-sm-9 col-xs-9">
              		<h6>Ut venenatis, Commodo ligula</h6>
              		<p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
              	</div>
              </div>
              <div class="row post-sm-content mt-20">
              	<div class="col-md-3 col-sm-3 col-xs-3"><img class="img-overlay img-circle" src="{% static 'accounts/assets/images/post/post-img-sm-2.jpg' %}" alt=""/></div>
              	<div class="col-md-9 col-sm-9 col-xs-9">
              		<h6>Ut venenatis, Commodo ligula</h6>
              		<p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
              	</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-text">
              <h5 class="widget-title">Contact Us</h5>
              <ul class="footer-contact">
              	<li><i class="mdi mdi-map-marker"></i> <p>Schönhauser Allee 167c 10435
				Berlin Germany</p></li>
                <li><i class="mdi mdi-email"></i> <p><a href="home-design-lab.html#">chaos@gmail.com</a></p></li>
                <li><i class="mdi mdi-phone"></i> <p>+49 30 47373795</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <div class="row">
        	<div class="col-md-2 col-md-offset-5">
        		<div class="logo-footer"><a href="index.html"><img class="img-responsive" src="{% static 'accounts/assets/images/logo-footer.png' %}" alt="chaos-logo"/></a></div>
        	</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right">©  2018 Chaos Designed by <span class="pink-color">Incognito Themes</span></div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->

</div>
<!--=== Wrapper End ===-->

<!--=== Javascript Plugins ===-->
{% block script %}
{% endblock %}
<script src="{% static 'accounts/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'accounts/assets/js/smoothscroll.js'%}"></script>
<script src="{% static 'accounts/assets/js/plugins.js' %}"></script>
<script src="{% static 'accounts/assets/js/master.js' %}"></script>
<!--=== Javascript Plugins End ===-->

</body>
</html>

