{%extends 'accounts/base.html'%}
{% block title %}registration{% endblock %}

{% block body %}
<section class="white-bg">
    <div class="container">
        <h1>Welcome</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

<div class="container">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">submit</button>
</form>
    </div>
        </div>
    </section>

{% endblock %}

