{%extends 'accounts/base.html'%}


{% block title %}
Password reset sent
{% endblock %}

{% block body %}
<section class="white-bg">
    <div class="container">
<h1>Password reset sent</h1>
    <div class="container">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

    </div>
        </div>
    </section>
{% endblock %}