{%extends 'accounts/base.html'%}


{% block title %}
Enter new password
{% endblock %}


{% block body %}
<section class="white-bg">
    <div class="container">
        <h1>Enter new password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <br>
        <br>
        <form method="post" >
                {% csrf_token %}
            {{form.as_p}}
                <button type="submit" class="btn btn-outline-primary">Change My Password</button>
        </form>

        </div>
    </section>
{% endblock %}